<mat-card [ngSwitch]="view">
  <ng-container *ngSwitchCase="'normal'">
    <h2 mat-subheader>{{roomId}}</h2>
    <mat-card-content>
      <div fxShow="true" fxHide.lt-md="true">
        <p-schedule [options]="scheduleOptions"
                    [events]="events"
                    defaultView="agendaWeek">
        </p-schedule>
      </div>
      <div fxShow="true" fxHide.gt-sm="true">
        <p-schedule [options]="scheduleOptions"
                    [events]="events"
                    defaultView="agendaDay">
        </p-schedule>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" class="matCardActions">
      <div fxFlex></div>
      <button mat-raised-button color="primary" class="matCardActionsButton" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
  <div *ngSwitchCase="'failure'">
    <h3>Oops, hier ist ein Fehler aufgetreten.<br/> Das tut uns jetzt aber leid.</h3>
  </div>
</mat-card>
