<mat-card [ngSwitch]="view">
  <ng-container *ngSwitchCase="'normal'">
    <h2 mat-subheader>Suchergebnisse</h2>
    <mat-accordion [multi]="true">
      <mat-expansion-panel *ngFor="let c of categories" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>{{c}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <div *ngFor="let room of rooms">
            <div *ngIf="room.category === c">
              <mat-list-item>
                <h4>{{room.roomId}}</h4>
                <span class="roomsListButtonSpacer"></span>
                <button mat-button (click)="openDialog(room.roomId)">
                  <mat-icon>info</mat-icon>
                </button>
                <button mat-button routerLink="/rooms/{{room.roomId}}">
                  <mat-icon>calendar_today</mat-icon>
                </button>
                <mat-divider></mat-divider>
              </mat-list-item>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card-actions fxLayout="row" class="matCardActions">
      <div fxFlex></div>
      <button mat-raised-button color="primary" class="matCardActionsButton" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
  <div *ngSwitchCase="'failure'">
    <h3>Oops, hier ist ein Fehler aufgetreten.<br/> Das tut uns jetzt aber leid.</h3>
  </div>
</mat-card>
