<mat-card>
  <h2 mat-subheader>Raum finden</h2>
  <mat-card class="upperMatCard">
    <h4>
      Startzeit
    </h4>
    <mat-form-field class="formFields">
      <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startD" [min]="minDate" [max]="maxDate"
             placeholder="Datum">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="formFields">
      <mat-select placeholder="Stunden" [(ngModel)]="startH">
        <mat-option *ngFor="let y of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" [value]="y">
          {{y}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="formFields">
      <mat-select placeholder="Minuten" [(ngModel)]="startM">
        <mat-option *ngFor="let y of ['00','05','10','15','20','25','30','35','40','45','50','55']" [value]="y">
          {{y}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <h4>
      Endzeit
    </h4>
    <mat-form-field class="formFields">
      <mat-select placeholder="Stunden" [(ngModel)]="endH">
        <mat-option *ngFor="let y of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" [value]="y">
          {{y}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="formFields">
      <mat-select placeholder="Minuten" [(ngModel)]="endM">
        <mat-option *ngFor="let y of ['00','05','10','15','20','25','30','35','40','45','50','55']" [value]="y">
          {{y}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card class="lowerMatCard">
    <h4>
      Kategorie
    </h4>
    <mat-form-field class="formFields">
      <mat-select placeholder="Kategorie" [(value)]="cat">
        <mat-option [value]="'all'">Alle</mat-option>
        <mat-option *ngFor="let x of categories" [value]=x>
          {{x}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card-actions fxLayout="row" class="matCardActions">
    <div fxFlex></div>
    <button mat-raised-button color="primary" class="matCardActionsButton" (click)="searchRooms()">
      Suchen
    </button>
  </mat-card-actions>
</mat-card>
