<mat-card>
  <h2 mat-subheader>Willkommen zu FreiRaum!</h2>
  <mat-card-header>
    <mat-card-title>
      <h3>Dir stehen drei Funktionen zur Verfügung:</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        1. Kurse und deren Vorlesungspläne suchen
      </mat-list-item>
      <mat-list-item>
        2. Räume und deren Belegungspläne suchen
      </mat-list-item>
      <mat-list-item>
        3. Freie Räume finden
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
