<h1 mat-dialog-title>Raum {{data.room.roomId}}</h1>
<div mat-dialog-content>
  <table>
    <tr>
      <td>Ort:</td>
      <td>{{data.room.building}}</td>
    </tr>
    <tr>
      <td>Stühle:</td>
      <td>{{data.room.chairs}}</td>
    </tr>
    <tr>
      <td>Max. Stühle:</td>
      <td>{{data.room.chairs_max}}</td>
    </tr>
    <tr>
      <td>PCs:</td>
      <td>{{data.room.pc}}</td>
    </tr>
    <tr>
      <td>Klausurentische:</td>
      <td>{{data.room.tables_exam}}</td>
    </tr>
  </table>
</div>
